<div>
    <main>
        <section class="input_data">
            <form id="form" action="http://localhost:8080/user" enctype="application/x-www-form-urlencoded" method="post">
                <p>Usuario</p>
                <input class="field" type="text" name="usuario">
                <p>Correo</p>
                <input class="field" type="text" name="correo">
                <p>Password</p>
                <input class="field" type="text" name="password">

                <p class="centrar_texto"><input class="btn btn-green" type="submit" value="Registrar usuario"></p>
            </form>
        </section>
    </main>
</div>